/* Font and vars */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f6ff;
  color: #23304a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;
}

.header, .footer {
  height: 90px;
}

.main {
  flex-grow: 1;
  display: flex;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
}

.main > .container {
  display: flex;
}

.header {
  background-color: #b9dbf6;
  box-shadow: 0px 2px 20px #a3a3a3;
  color: #ffffff;

  display: flex;
}

.navigation {
  padding: 15px;

  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: inherit;

  font-size: 28px;
  font-weight: 700;
}

/* --- Start Game --- */

.start-game {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game_button {
  border-radius: 10px;
  
  padding: 20px 30px;
  font-size: 26px;
  font-weight: bold;

  background-color: #FFD700;
}

.start-game_button:hover {
   background-color: #ffe75d;
}

/* --- Game --- */

.game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 40px;

  color: #2a21ac;
}

.game-field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;

  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 20px #d9e7ff;

  font-size: 25px;
}

.game-field--disabled {
  pointer-events: none;
}

.game-cell {
  width: 110px;
  aspect-ratio: 1;

  font-size: 48px;
  font-weight: 700;

  background-color: #e8f0ff;
  border: 2px solid #c8d6ef;
  border-radius: 12px;

  cursor: pointer;
  transition: 0.25s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-cell:hover {
  transform: translateY(-3px);
  background-color: #d9e7ff;
  box-shadow: 0px 0px 20px #99beff; 
}

.game-cell--disabled {
  cursor: not-allowed;
}

.game-cell.game-cell--disabled:hover {
  transform: translateY(0px);
  background-color: #e8f0ff;
  box-shadow: 0px 0px 0px; 
}

.game-cell__x {
  color: #e64980;
}

.game-cell__o {
  color: #4c6ef5;
}

/* --- Notification --- */

.notification-wrapper {
  position: fixed;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.notification {
  background-color: #ffffff;
  color: #2169ac;

  padding: 18px 48px 18px 20px;
  border-radius: 18px;

  position: relative;
  cursor: pointer;

  box-shadow: 0 10px 30px #d9e7ff;

  transition-property: opacity, transform, box-shadow;
  transition-duration: .35s;
  transition-timing-function: ease;

  opacity: 0;
  transform: translateY(-80px) scale(0.9);
}

.notification:hover {
  box-shadow: 0 14px 36px #a8c9ff;
}

.notification-show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.notification-hidden {
  opacity: 0;
  transform: translateY(-80px) scale(0.9);
}

.notification-message {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.notification-close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 16px;
  aspect-ratio: 1;

  transition: transform .2s ease, opacity .2s ease;
  opacity: 0.6;
}

.notification-close:hover {
  transform: scale(1.25);
  opacity: 1;
}

.notification-close::before,
.notification-close::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: #2a21ac;
}

.notification-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.notification-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Showing the winning */

.game-field::after {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;

  width: 80%;
  height: 10px;

  background-color: #337dd3;
  border-radius: 6px;

  transform-origin: center;
  transform: translate(-50%, -50%) scaleX(0);

  box-shadow: 0 0 12px #99beff;
}

.horizontal::after {
  transform: translate(-50%, -50%) scaleX(0);
}

.vertical::after {
  transform: translate(-50%, -50%) rotate(90deg) scaleX(0);
}

.main-diagonal::after {
  width: 100%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
}

.secondary-diagonal::after {
  width: 100%;
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
}

.horizontal__show::after {
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 0.4s ease;
}

.vertical__show::after {
  transform: translate(-50%, -50%) rotate(90deg) scaleX(1);
  transition: transform 0.4s ease;
}

.main-diagonal__show::after {
  transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
  transition: transform 0.4s ease;
}

.secondary-diagonal__show::after {
  transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  transition: transform 0.4s ease;
}

.horizontal--first::after {
  top: 20%;
}
.horizontal--second::after {
  top: 50%;
}
.horizontal--third::after {
  top: 80%;
}

.vertical--first::after {
  left: 20%;
}
.vertical--second::after {
  left: 50%;
}
.vertical--third::after {
  left: 80%;
}

/* Sidebar */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  width: 400px;
  height: 100%;
  padding: 30px 15px;
  background-color: #99beff;

  border: 2px solid #fff;

  transform: translateX(-100%);
  transition: transform .35s ease;
}

.sidebar.sidebar-open {
  transform: translateX(0%);
}

.sidebar-toggle {

  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);

  width: 30px;
  height: 100px;
  background-color: #99beff;
  text-shadow: 0px 0px 5px #000000; 

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border-left: 2px solid #fff;

  clip-path: polygon(
    0% 0%,
    100% 25%,
    100% 75%,
    0% 100%
  );
}

.sidebar-toggle > .arrow {
  width: 10px;
  height: 10px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
  transition: transform .7s ease;
  /* margin: auto; */
}

.sidebar-toggle.open > .arrow {
  transform: rotate(-225deg);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-title {
  margin-bottom: 10px;
  font-size: 30px;
}

.sidebar-list {
  list-style: none;
  font-size: 18px;

  width: 100%;
}

.sidebar-list li {
  width: 100%;
  text-align: center;

  padding: 10px;
  border-bottom: 3px solid #fff;
}